appdirs
audioread
certifi
cffi
chardet
decorator
dtw-python
future
idna
iso8601
joblib
librosa
llvmlite
numba
numpy
packaging
pooch
pycparser
pyparsing
pyserial
PyYAML
requests
resampy
scikit-learn
scipy
six
sounddevice
SoundFile
threadpoolctl
urllib3
vosk
pyyaml
